.footer {
  display: flex;
  justify-content: space-around;
  gap: 20px; /* Add some space between the buttons */
  padding: 10px;
  position: fixed;
  bottom: 0;
  padding-bottom: 20px;
  width: 100%;
  background-color: transparent; /* You can adjust this if needed */
}

footer > button {
  border: 3px solid hsl(217, 16%, 45%);
  color: white;
  width: 150px;
  padding: 5px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: transparent;
  font-family: "Barlow Semi Condensed";
  text-transform: uppercase;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s;
}

footer > button:hover {
  color: hsl(217, 16%, 45%);
  background-color: white;
  transition: 0.2s;
}

@media (max-width: 780px) {
  footer > button {
    font-size: 0.9rem; /* Smaller font size for medium screens */
    width: 130px; /* Adjust button width if necessary */
  }
}

@media (max-width: 425px) {
  .footer {
    flex-direction: column; /* Stack buttons vertically on smaller screens */
    align-items: center;
  }
  footer > button {
    font-size: 0.8rem; /* Even smaller font size for small screens */
    width: 120px;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: white;
  padding: 30px;
  padding-top: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.popup-content img {
  width: 100%;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  padding-inline: 5px;
}

.popup-header h2,
.share-text {
  font-family: "Barlow Semi Condensed";
  text-transform: uppercase;
  color: hsl(229, 25%, 31%);
}
.share-text {
  margin-bottom: 30px;
}
.popup-header button {
  cursor: pointer;
  background-color: transparent;
  border-style: none;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 15px;
  aspect-ratio: 1;
  margin-inline: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0% {
    box-shadow: 20px 0 hsl(229, 25%, 31%), -20px 0 rgb(59, 67, 99, 0.2);
    background: hsl(229, 25%, 31%);
  }
  33% {
    box-shadow: 20px 0 hsl(229, 25%, 31%), -20px 0 rgb(59, 67, 99, 0.2);
    background: rgb(59, 67, 99, 0.2);
  }
  66% {
    box-shadow: 20px 0 rgb(59, 67, 99, 0.2), -20px 0 hsl(229, 25%, 31%);
    background: rgb(59, 67, 99, 0.2);
  }
  100% {
    box-shadow: 20px 0 rgb(59, 67, 99, 0.2), -20px 0 hsl(229, 25%, 31%);
    background: hsl(229, 25%, 31%);
  }
}
